body {
  font-family: sans-serif;
}

h3 {
  font-weight: 600;
}
.container {
  min-height: 500px;
  max-width: auto;
  margin: 200px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: brown; */
}

.col {
  /* background-color: cyan; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.col > * {
  margin: 10px auto;
}

.col img {
  width: auto;
  height: 426px;
}

.col p {
  color: #8d8d8d;
}

.col .star,
.col .heart {
  width: 16px;
  height: auto;
  padding: 0 10px;
}

img.heart {
  margin-left: 20px;
}

.lorem {
  width: 290px;
  text-align: center;
}
.cart {
  width: 80px;
  height: 40px;
  border: black;
  background-color: black;
  color: white;
  font-weight: 900;
}

.view {
  width: 80px;
  height: 40px;
  border: 3px solid black;
  background-color: white;
  color: black;
  font-weight: 900;
  margin-left: 12px;
}
